<div class="game">
    <div ng-class="{disabled:!playing}">
        <div ng-repeat="row in [].constructor(options.columns*options.rows) track by $index" class="cell" style="{{cellStyle}}">
            <div ng-class="{target:(targets.indexOf($index)!==-1)}" mobile-click="targetClicked($index)" class="cell-content">
            	<div class="blast"></div>
            </div>
        </div>
    </div>
    <div class="buttons" ng-show="!playing">
        <button class="btn btn-primary" mobile-click="newGame()" ng-show="!options.livesRemaining">Restart Game</button>
        <div class="text-alert" ng-show="options.livesRemaining && targets.length">
	        <span ng-show="(options.livesRemaining>1) && targets.length">Using your next life...<br>({{options.livesRemaining}} remaining)</span>
	        <span ng-show="(options.livesRemaining==1) && targets.length">Using your last life...</span>
        </div>
    </div>
</div>
